@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  background: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.navbar .container {
  margin-top: 45px;
  margin-bottom: 45px;
}

.site-header {
  background-color: rgba(255, 255, 255, 1);

}

.site-header .nav-item {
  padding: 0 20px;
}

.site-header .nav-link {
  transition: all 0.3s ease 0s;
  color: #999 !important;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
  border-bottom-color: transparent;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 1px;
}

.site-header .nav-link:hover {
  color: #111 !important;
  text-decoration: none;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.site-header .nav-link.active {
  color: #111 !important;
  text-decoration: none;
}

.navbar-brand {
  border-bottom: none;
  font-weight: 700;
  font-size: 38px;
  color: #222 !important;
}
.navbar-brand:hover {
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #444 !important;
}

.navbar {
  padding: .8rem 1rem;
}